.container {
  width: 100%;
}

.box3 p {
  margin: 0;
}

.choose {
  width: auto;
}
.description {
  margin: 10px;
  /* margin-bottom: 10px; */
}
.icons {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  /* justify-content: center; */
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
.icon {
  color: #004aad;
  font-size: 24px;
  transition: color 0.3s;
}
.icon:hover {
  color: #003078;
}

.icons a {
  text-decoration: none;
  color: #000;
}

.form {
  margin: 10px;
  padding: 10px;
}

.form input[type="text"],
input[type="tel"] {
  border: 1px solid #ddd;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .btn {
    max-width: 70%;
    padding: 7px;
  }

  .icon {
    /* margin-top: 5px; */
    font-size: 16px;
  }

  .form {
    margin: 0;
    margin-top: 20px;
    padding: 0;
  }

  .form input[type="text"],
  input[type="tel"] {
    border-radius: 20px;
    padding: 8px;
    padding-left: 15px;
  }
}
