@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 150px;
}

.tagline {
  font-size: 14px;
  color: #0072ce;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  display: none; /* Hide hamburger by default */
  font-size: 28px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  gap: 20px;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
  padding: 5px;
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}

.link {
  color: inherit;
  text-decoration: none;
  padding: 5px;
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.link:hover {
  background-size: 0 3px, 100% 3px;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.header-right a {
  text-decoration: none;
}

.contact-number {
  font-size: 16px;
  font-weight: bold;
  color: #0072ce;
}

.appointment-btn {
  background-color: #0072ce;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.appointment-btn:hover {
  background-color: #005bb5;
}

.box1 {
  margin-top: 150px;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 96%;
  min-height: 800px;
  height: 80dvh;
  background: linear-gradient(to right, #00746aa4, #deb56e51);
  display: flex;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

.inner-box {
  padding: 30px;
  color: #ffffff;
}

.inner-box h1,
.inner-box h2,
.inner-box p {
  margin: 10px 0;
}

.inner-box h1 {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 20px;
}

.inner-box h2 {
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
}

.inner-box p {
  font-size: 28px;
  font-weight: 500;
  color: #333;
  /* Light color for tagline text */
  max-width: 600px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.box2 {
  width: 95%;
  margin: 20px auto;
  /* Center the box and give it top and bottom margin */
  background-color: #f8f9fa;
  border: 1px solid #efefef;
  border-radius: 10px;
  /* Rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  /* Soft shadow */
  padding: 20px;
  /* Padding inside the box */
}

.box2 p {
  padding: 10px;
  margin-top: 30px;
  text-align: center;
  font-size: 1.3em;
}

.inner-box2 {
  display: flex;
  /* Flex layout for horizontal arrangement */
  justify-content: space-between;
  /* Space between the two sections */
  align-items: center;
  /* Center items vertically */
}

.stat h2 {
  margin: 0 10px;
  /* Margin around the number */
  font-size: 2em;
  /* Larger font size for prominence */
  color: #007bff;
  /* Blue color for the number */
}

.stat p {
  margin: 0;
  /* Remove default margin */
  font-size: 1.2em;
  /* Slightly larger font size for description */
  color: #555;
  /* Dark grey text color */
}

.rank {
  background-color: #007bff;
  /* Blue background */
  color: #fff;
  /* White text color */
  padding: 15px 20px;
  /* Padding inside rank */
  border-radius: 8px;
  /* Rounded corners */
  text-align: center;
  /* Center the text */
  flex-shrink: 0;
  /* Prevent shrinking */
  width: 25%;
  /* Take up 25% of the width */
}

.rank h3 {
  margin: 0;
  /* Remove default margin */
  font-size: 1.2em;
  /* Font size for ranking */
}

.box3 {
  width: 95%;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 50px;
  align-items: center;
  text-align: center;
  /* border: 1px solid #ddd; */
}

.box3 h2 {
  font-size: 3.5em;
}

.box3 p {
  margin-top: 30px;
  text-align: center;
  font-size: 1.3em;
  padding: 30px;
}

.box3 a {
  font-size: 1.2em;
}

.box3 img {
  position: relative;
  top: 3px;
  width: 20px;
}

.box4 {
  width: 98%;
  border-radius: 20px;
  padding: 50px;
  background: linear-gradient(45deg, #b2f4ff, #d7ecff);

  align-items: center;
  text-align: center;
}

.box4 h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.box4 h3 {
  margin-top: 30px;
  font-size: 2em;
  font-weight: 500;
}

.serv {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #d4fcff,
    #cce2ff
  ); /* Light aqua to soft sky blue */
}

.servh {
  margin-bottom: 20px;
}

.serv .serv1 {
  display: flex;
  width: calc(20% - 20px); /* 4 items per row */
  padding: 10px;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  transition: transform 0.5s ease;
  z-index: inherit;
}
.serv1:hover {
  font-weight: 700;
  transform: scale(1.07);
}
.serv1 img {
  width: 50px;
  height: 60px;
  margin-right: 15px;
}

.serv1 a {
  text-align: center;
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
  font-weight: 500;
}

.servlink {
  margin-top: 10px;
  font-size: 1.5em;
}
.box4 p {
  font-size: 1.2em;
  margin-bottom: 50px;
  color: #333;
}

.box4 .rarrow {
  position: relative;
  top: 3px;
  width: 20px;
}

.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
  width: 200%;
  /* Modified to fit all slides horizontally */
}

.slide {
  flex: 30%;
  min-width: 24.5%;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  margin: 20px 10px;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}

.slide img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 20px;
}

.slide a {
  /* margin-bottom: 10px; */
  font-size: 1.2em;
}

.slide .rarrow {
  position: relative;
  top: 3px;
  width: 20px;
  height: inherit;
}

.slide p {
  margin-bottom: 10px;
  text-align: center;
}
.arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.arrow {
  background-color: #ffffff;
  color: #ccc;
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  transition: color 0.9s ease, box-shadow 0.4s ease;
}

.arrow:hover {
  color: #005bb5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50% 30%;
  background: rgb(255, 255, 255);
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background: rgb(255, 153, 0);
}

body .box5 {
  align-items: left;
}

.box5 {
  display: flex;
  width: 98%;
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 50px;
  background: linear-gradient(to right, #ffd1a9, #ffefba);
  margin-top: 50px;
  align-items: center;
  text-align: center;
}

.choose {
  width: 30%;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.48);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.06);
}

.choose2 {
  width: 60%;
  text-align: center;
  padding: 40px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.48);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.06);
}

.title {
  font-size: 2.2em;
  font-weight: bold;
  color: #0073e6;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.3em;
  color: #444;
  margin-top: 5px;
  margin-bottom: 20px;
}

.description {
  font-size: 1.1em;
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
}

.work-steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.work-step {
  padding: 15px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.73);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(238, 238, 238, 0.06);
}

.work-step img {
  width: 80px;
}

.step-title {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 10px;
  font-weight: bold;
}

.step-text {
  font-size: 1em;
  color: #333;
  line-height: 1.5;
}

.title {
  font-size: 2.2em;
  font-weight: bold;
  color: #0073e6; /* Highlighted color for title */
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.3em;
  color: #444;
  margin-top: 5px;
  margin-bottom: 20px;
}

.description {
  font-size: 1.1em;
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
}

.features-list {
  list-style-type: circle;
  padding: 0;
}

.feature-item {
  font-size: 1.1em;
  color: #333;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: #0073e6;
  font-size: 1.2em;
  margin-right: 8px;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #000;
  font-size: 1em;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #f4f4f4;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.session-container {
  text-align: center;
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.session-title {
  font-size: 1.8em;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.session-description {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  color: #555;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 20px;
}

.call-action {
  font-size: 2.5em;
  color: #0073e6;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-top: 10px;
}

.call-action .phone-icon {
  font-size: 1.5em;
  /* margin-right: 18px; */
  margin-left: 10px;
  /* margin-bottom: 20px; */
}

.testimonial {
  text-align: center;
  align-items: center;
}

.testimonial h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 2em;
  color: #333;
}

.vidsslider {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 10px;
}
.video-container {
  display: none;
  width: 100;
  padding-top: 56.25%; /* Adjust this for different aspect ratios: 75% for 4:3, 56.25% for 16:9 */
  position: relative;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.controlss {
  text-align: center;
  margin-top: 10px;
}
.btn1 {
  margin: 0 10px;
  cursor: pointer;
}

.rev {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-top: 30px;
  margin-bottom: 20px;
}

.review {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px; /* Add gap for better spacing */
}

.review-item {
  display: flex;
  flex-direction: column;
  width: 48%; /* Use 48% to fit two items per row with a gap */
  gap: 10px;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.review-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review-username {
  font-size: 1.2rem;
  color: #007bff;
  margin: 10px;
}

.review-rating {
  font-size: 1rem;
  color: #fbb034; /* Star color */
  margin: 0;
}

.review-text {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin: 0;
}

.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
}

.footer-content {
  margin: 0 auto;
}

.footer-quote {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transform: translate(5%, 0);
  padding: 5px;
  /* margin: 10px; */
  /* border: 1px solid; */
}

.footer-quote h2 {
  font-size: 30px;
  font-weight: 700;
  /* margin-bottom: 20px; */
  color: #ddd;
}

.footer-quote img {
  position: relative;
  margin-top: -50px;
  margin-bottom: 30px;
  width: 250px;
}

.hr {
  border: none;
  height: 3px;
  background: linear-gradient(
    90deg,
    #d383a3,
    #b4778f,
    #ff4b2b,
    #927aa5,
    #6f91aa,
    #d383a3,
    #79a6c1,
    #ff416c
  );
  background-size: 400% 100%;
  animation: gradientShift 8s linear infinite;
  margin-bottom: 30px;
  margin-top: -20px;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.hr2 {
  border: none;
  height: 3px;
  background: linear-gradient(
    90deg,
    #ff7eb3,
    /* Vibrant pink */ #ff65a3,
    /* Deep pink */ #7afcff,
    /* Bright aqua */ #32ff7e,
    /* Bright green */ #fcb045,
    /* Warm orange */ #ff7eb3 /* Match the start color for seamless loop */
  );
  background-size: 400% 100%;
  animation: gradientShift 8s linear infinite;
  margin-top: 30px;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.footer-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.about-section {
  padding: 10px;
  margin-left: 50px;
}

.footer-section {
  flex: 1 1 10%;
  min-width: 180px;
}

.footer-section h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #aaa;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  gap: 10px;
}

.footer-links li {
  list-style: none;
}

.footer-links a {
  color: #aaa;
  font-size: 14px;
  text-decoration: none;
}

.footer-links a:hover {
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons img {
  width: 34px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  /* top: 50px; */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
}

/* Modal Content with Pop-Up Animation */
.modal-content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(50%, -50%);
  margin: 5% auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 600px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(37, 37, 37, 0.626);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  animation: zoomIn 0.8s ease forwards; /* Apply animation on open */
  opacity: 0; /* Start hidden */
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5); /* Start small */
  }
  to {
    opacity: 1;
    transform: scale(1); /* End at original size */
  }
}
/* Display the modal and trigger the animation */
.modal.open .modal-content {
  opacity: 1;
  animation: zoomIn 0.8s ease forwards;
}

.modal-content h2 {
  color: #fff;
  text-align: center;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #fff;
  /* Make labels block elements */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
select,
textarea {
  width: calc(100% - 20px);
  /* Full width minus padding */
  padding: 12px;
  /* Increased padding */
  margin-bottom: 15px;
  /* Spacing between fields */
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  font-size: 16px;
  /* Increased font size for inputs */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
  /* Change border color on focus */
  outline: none;
  /* Remove default outline */
}

button[type="button"],
button[type="submit"] {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-right: 10px;
  margin-top: 20px;
  color: #000;
  font-size: 1em;
  transition: background-color 0.3s;
}

button[type="button"]:hover,
button[type="submit"]:hover {
  background-color: #f4f4f4;
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #dddddd;
  /* Change close button color on hover */
  text-decoration: none;
  cursor: pointer;
}

textarea {
  height: 100px;
  /* Set a fixed height for the textarea */
}

/* Review Step Styling */
#review {
  text-align: left;
  /* Align text to the left for the review section */
}

#review p {
  font-size: 20px;
  margin-top: 15px;
  /* Spacing between review details */
}

#review strong {
  color: #007bff;
  /* Highlighting the strong text */
}

@media (max-width: 768px) {
  header {
    /* max-height: 75px; */
    padding: 35px 10px;
  }

  .logo {
    position: absolute;
    left: 10;
    padding: 5px;
    width: 120px;
  }

  .nav-links {
    display: none;
  }
  .hamburger {
    position: absolute;
    right: 30px;
    display: block;
  }

  .nav-links {
    display: none; /* Hide links by default */
    flex-direction: column; /* Stack links vertically */
    position: absolute;
    top: 60px; /* Position below the navbar */
    right: 10px;
    width: 45%; /* Full width */
    padding: 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.624);
    border-radius: 12px;
    border: 1px solid rgba(224, 224, 224, 0.665);
    z-index: 1000; /* Ensure it appears on top */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  .nav-links.active {
    display: flex; /* Show links when active */
  }

  .nav-links a {
    padding: 15px;
    font-size: 0.8em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Divider between links */
  }
  .header-right .contact-number {
    display: none;
    /* position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.7em; */
  }

  .header-right .appointment-btn {
    display: none;
  }

  .box1 {
    margin-top: 90px;
    padding: 20px;
    min-height: 250px;
    max-height: 500px;
  }

  .inner-box {
    padding: 10px;
    margin: 10px;
  }

  .inner-box2 {
    display: flex;
    flex-direction: column;
  }

  .box2 p {
    font-size: 0.9em;
  }

  .box3 {
    padding: 5px;
  }

  .box3 h2 {
    font-size: 1.3em;
    margin-bottom: 0px;
  }

  .box3 p {
    margin-top: 0px;
    font-size: 0.9em;
  }

  .box3 a {
    font-size: 0.8em;
  }

  .box3 img {
    width: 15px;
  }

  .stat,
  .exp,
  .staff,
  .rank {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    width: 100%;
    margin: 10px;
    font-size: 0.8em;
  }

  .stat h2 {
    font-size: 1.8em;
  }

  .stat h3 {
    font-size: 1em;
    margin: 10px;
  }

  .inner-box h1 {
    font-size: 38px;
  }

  .inner-box h2 {
    font-size: 22px;
  }

  .inner-box p {
    font-size: 16px;
  }

  .button-17 {
    font-size: 10px;
  }

  .box4 {
    padding: 15px;
  }
  .box4 h2 {
    font-size: 1.5em;
  }

  .box4 p {
    font-size: 1em;
    margin-bottom: 5px;
  }
  .slide {
    flex: 0 0 100%; /* Show one slide at a time on small screens */
  }

  .slide {
    flex: 50%;
    min-width: 48%;
    height: auto;
    padding: 20px;
  }
  .slide p {
    font-size: 0.7em;
  }

  .slide a {
    font-size: 0.8em;
  }

  .slide .rarrow {
    position: relative;
    top: 11px;
    width: 15px;
    height: inherit;
  }

  .slide h3 {
    font-size: 1em;
  }
  .slide img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }

  .serv {
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .serv1 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    max-width: 40%;
    min-height: 40px;
    margin-right: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .serv .serv1 {
    width: calc(50% - 20px); /* 2 items per row */
  }

  .servlink {
    font-size: 0.9em;
  }

  .serv1 a {
    font-size: 0.7em;
  }

  .serv1 img {
    width: 20px;
    height: 20px;
    margin-right: 0px;
  }
  .box5 {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .choose {
    width: 100%;
    padding: 10px;
  }

  .choose .title {
    font-size: 1.4em;
  }

  .choose .subtitle {
    font-size: 0.9em;
  }

  .choose .description {
    font-size: 0.7em;
    margin-bottom: 0px;
  }

  .choose .feature-item {
    font-size: 0.8em;
    margin-bottom: 0px;
  }
  .work-steps {
    grid-template-columns: 1fr;
  }

  .work-step img {
    width: 50px;
  }

  .work-step h3 {
    font-size: 0.9em;
  }

  .work-step p {
    font-size: 0.7em;
  }

  .btn {
    padding: 5px 10px;
    font-size: 0.7em;
  }

  .session-container {
    padding: 25px;
  }

  .session-container h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .session-description {
    font-size: 0.8em;
  }

  .call-action {
    font-size: 1.2em;
  }

  .testimonial h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  .review {
    padding: 15px;
  }

  .review-item {
    padding: 10px;
    width: 100%;
  }

  .review-avatar {
    width: 40px;
    height: 40px;
  }

  .review-username {
    font-size: 1rem;
  }

  .review-text {
    font-size: 0.9rem;
  }

  .footer-quote {
    padding: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .footer-quote h2 {
    margin-top: 80px;
    font-size: 1.2rem;
  }

  .footer-quote img {
    position: absolute;
    top: 10px;
    width: 200px;
    margin: 10px;
  }

  .about-section {
    padding: 0px;
    margin-left: 0px;
  }

  .footer-section h3 {
    font-size: 16px;
  }

  .footer-section ul li a {
    font-size: 13px;
  }

  .footer-bottom p {
    font-size: 12px;
  }

  .footer-links a {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .social-icons img {
    margin-top: 10px;
    width: 20px;
  }

  .modal-content {
    position: absolute;
    top: 10%;
    left: 2.5%;
    margin: 10% auto; /* Reduced margin for mobile */
    padding: 10px; /* Reduced padding */
    width: 95%; /* Almost full width */
  }

  .modal-content h2 {
    text-align: center;
    align-items: center;
    font-size: 1em;
    margin-bottom: 35px;
  }

  button[type="button"],
  button[type="submit"] {
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 14px;
  }

  label {
    font-size: 12px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="date"],
  input[type="time"],
  select,
  textarea {
    padding: 2px;
    font-size: 14px; /* Smaller text inputs */
  }
}
