.logo-container a {
  position: absolute;
  top: 0;
}

.link {
  color: inherit;
  text-decoration: none;
  padding: 5px;
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 100% 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
}

.link.active {
  background-size: 0 3px, 100% 3px;
}

.box1 {
  border-radius: 0px;
  border: 1px solid #ddd;
  width: 100%;
  min-height: 600px;
  height: 70dvh;
  background: linear-gradient(
    to right,
    rgba(255, 223, 186, 0.582),
    rgba(224, 187, 228, 0.639),
    rgba(186, 235, 255, 0.577)
  );

  display: flex;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.box1 p {
  max-width: 100%;
  /* border: 1px solid; */
}

.inner-box h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.btn {
  padding: 15px 20px;
}

.condh2 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 2.8em;
  font-weight: 500;
}

.slider-container {
  display: flex;
  align-items: center;
  max-width: 96%;
  height: 120px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, #d4fcff, #cce2ff);
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.nav-button {
  background: linear-gradient(to right, #d4fcff, #cce2ff);
  border: none;
  color: #333;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}

.slider {
  max-width: 80%;
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
}

.slider-link {
  text-align: center;
  padding: 20px;
  margin-left: 30px;
  margin-right: -10px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 700;
}

.slider-link:hover {
  background-color: #fbfbfb;
  border-radius: 30px;
}

.serves {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 10px;
  background: linear-gradient(to right, #d4fcff, #cce2ff);
}

.servh {
  margin-bottom: 20px;
}

.serv2 {
  display: flex;
  width: calc(20% - 20px);
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 16px;
  transition: transform 0.5s ease;
  z-index: inherit;
}

.serv2 a {
  text-align: center;
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
  font-weight: 500;
}

.serv2 a:hover {
  color: #d76100;
}
.servlink {
  margin-top: 10px;
  font-size: 1.5em;
}

.info {
  width: 80%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 20px;
}

.info h2 {
  font-size: 3em;
}
.info p {
  text-align: center;
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  .bbox {
    min-height: 100%;
  }
  .box1 h1 {
    font-size: 1.6em;
  }

  .box1 .btn {
    padding: 10px 15px;
  }

  .slider-container {
    padding: 20px;
    height: 75px;
  }

  .nav-button {
    font-size: 1em;
  }

  .slider {
    max-width: 100%;
  }
  .slider-link {
    font-size: 14px;
    padding: 12px;
  }

  .condh2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  .serves {
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .serv2 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    max-width: 40%;
    min-height: 40px;
    margin-right: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .serves .serv2 {
    width: calc(50% - 20px);
  }

  .servlink {
    font-size: 0.9em;
  }

  .serv2 a {
    font-size: 0.7em;
  }
  .info {
    width: 90%;
    margin-bottom: 30px;
  }
  .info h2 {
    font-size: 1.5em;
  }
  .info p {
    font-size: 1em;
    width: 100%;
  }
}
